<div class="row">
  <div class="col-lg-2 col-12 py-3">
    <h3>About</h3>
  </div>
  <div class="col-lg-10 col-12">
    <p class="lite text-muted">FemBytes is a collection of conversations with women in technology. Our mission is to share who we are, what we do, and how we think in order to motivate and inspire women currently in the field, or looking to break into it.</p>
    <p class="lite text-muted">Our goal is to represent women of all different personalities, stories and career paths. Have someone in mind you'd love to see interviewed? Drop us a line at <a href="mailto:fembytesproject@gmail.com">fembytesproject@gmail.com</a>.</p>
  </div>
</div>
